
<app-sidenav (addEvent)="onAddEvent($event)"></app-sidenav>


<div class="dashboard">

<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of items">
      <!-- your content here -->
      
        <p>{{item.heading}}</p>
        <p>{{item.subheading}}</p>
        <div class="item-buttons">
          <button md-icon-button md-raised-button class="remove-button" (click)="removeItem($event, item._id)"
                  (touchstart)="removeItem($event, item._id)" mdTooltip="Remove">
            Delete
          </button>
        </div>
        <app-table *ngIf="item.type === 'table'"></app-table>
        <app-graph *ngIf="item.type === 'graph'"></app-graph>
        <app-datepicker *ngIf="item.type === 'datepicker'"></app-datepicker>
        <app-progressbar *ngIf="item.type === 'progressbar'"></app-progressbar>
        <app-slider *ngIf="item.type === 'slider'"></app-slider>
        <app-list *ngIf="item.type === 'list'"></app-list>
     </gridster-item>
  </gridster>
  <app-snakbar *ngIf="snakbar"></app-snakbar>
</div>
