<app-sidenav style="float: left;" (addEvent)="onAddEvent($event)"></app-sidenav>

<div class="dash">
<p>
    <button (click)="onAddEvent('table')">Add Item</button>
</p>


<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of items">
      <!-- your content here -->
      
        <div (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
          Some content to click without dragging the widget
        </div>
        <p>{{item.heading}}</p>
        <p>{{item.subheading}}</p>
        <div class="item-buttons">
          <button md-icon-button md-raised-button class="drag-handler">
              open_with
          </button>
          <button md-icon-button md-raised-button class="remove-button" (click)="removeItem($event, item)"
                  (touchstart)="removeItem($event, item)" mdTooltip="Remove">
            clear
          </button>
        </div>
        <div *ngIf="item.type === 'table'"><app-table></app-table></div>
        <div *ngIf="item.type === 'graph'"><app-graph></app-graph></div>
     </gridster-item>
  </gridster>
</div>