
<app-sidenav (addEvent)="onAddEvent($event)"></app-sidenav>


<div class="dashboard">
  
<p>
    <button (click)="onAddEvent('table')">Add Item</button>
</p>


<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of items">
      <!-- your content here -->
      
        <p>{{item.heading}}</p>
        <p>{{item.subheading}}</p>
        <div class="item-buttons">
          <button md-icon-button md-raised-button class="remove-button" (click)="removeItem($event, item._id)"
                  (touchstart)="removeItem($event, item._id)" mdTooltip="Remove">
            Delete
          </button>
        </div>
        <div *ngIf="item.type === 'table'"><app-table></app-table></div>
        <div *ngIf="item.type === 'graph'"><app-graph></app-graph></div>
     </gridster-item>
  </gridster>
</div>
