.sidenav
{
    width: 15%;
    height: 90%;
    float: left;
    background-color: black;
    margin: 20px; 
    text-align: center;
    border-radius: 10px;
}

ul{
    margin-left: 0px;
    padding-left: 0px;
}

li
{
    margin: 10px 5px 20px 5px;
    padding: 10px;
    list-style-type: none;
    background-color: hotpink;
    border-radius: 10px;
    cursor: context-menu;
}
